
/* Your CSS Code here. */
  .block-item{
        display: inline-block;
        width:150px;
        background-color: lightgrey;
        border:2px solid grey;
        border-radius:5px;
        text-align: center;
      }